.course-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.course-description .card-container {
  display: flex;
  height: 450px;
  padding: 10px;
  align-content: space-between;
}
.course-description .card-container .card {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e272f;
  margin: 20px 20px;
}
.course-description .card-container .card a {
  text-decoration: none;
}
.course-description .card-container .card .card-title {
  font-size: 24px;
  font-weight: bolder;
}
.course-description .card-container .card .card-blurb {
  font-size: 18px;
  text-align: center;
}
.course-description .card-container .card img {
  height: 170px;
  width: 150px;
}
.course-description .description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.course-description .description-text .description-title {
  font-size: 34px;
  font-weight: bolder;
  color: #5c194d;
}
.course-description .description-text .description-paragraph {
  font-size: 18px;
  text-align: center;
  width: 560px;
}
