

.course-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    @media only screen and (max-width: 600px) {
        width:unset;
    }

    .tablet-wrapper-wrapper{
        display: flex;
        padding-bottom: 50px;
        padding-top: 50px;
        @media only screen and (max-width: 1200px) {
            flex-direction: column;
        }
    }
    .tablet-wrapper{
        display: flex;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    .card-container {
        display: flex;
        padding: 10px;
        align-content: space-between;
        // align-items: center;
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    

        .card {
            height: 350px;
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #1e272f;
            margin: 20px 20px;
            @media only screen and (max-width: 600px) {
                // width:350px;
            }

            a {
                text-decoration: none;
            }

            .card-title {
                font-size: 24px;
                font-weight: bolder;

            }

            .card-blurb {
                font-size: 18px;
                text-align: center;
            }

            img {
                height: 170px;
                width: 150px;
            }
        }
            
    }

    .description-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        @media only screen and (max-width: 600px) {
        margin-bottom: 30px;
        }

        .description-title {
            font-size: 34px;
            font-weight: bolder;
            color: #5c194d;
        }
        .description-paragraph {
            font-size: 18px;
            line-height: 2;
            width: 560px;
            text-align: center;
            @media only screen and (max-width: 600px) {
                font-size:1rem;
                line-height: 2;
                margin-left:7%;
                margin-right: 5%;
                width: unset;
                text-align: left;
            }
            
        }

    }
        
}