.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #5c194d;
  position: fixed;
  top: 0;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header .logo-container {
  height: 20px;
  width: 130px;
  display: flex;
}
.header .logo {
  height: 50px;
  width: 130px;
  margin-left: 30px;
}
.header .options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .options .option {
  padding: 10px 15px;
  cursor: pointer;
}
