/*=============================
=            Fonts            =
=============================*/


/*==================================
=            Font Weights          =
==================================*/


/*==============================
=            Colors            =
==============================*/




/*=====================================
=            Media queries            =
=====================================*/

// $iphone: max-width 360px;
// $mobile: max-width 479px;
// $above-mobile: 480px;
// $below-ipad: max-width 736px;
// $xs: max-width 768px;
// $above-xs: 768px;
// $above-xs-less: 740px;
// $ipad: max-width 879px;
// $above-ipad: 880px;
// $ipad-only: min-width 768px max-width 879px;
// $ipad-plus: min-width 740px max-width 769px;
// $sm: max-width 1039px;
// $above-sm: 1040px;
// $md: max-width 1199px;
// $md-only: min-width 1200px max-width 1400px;
// $above-md: 1200px;
// $lg: max-width 1399px;
// $xlg: max-width 1499px;
// $above-lg: 1400px;



$mobile: 600px;
$sm-tablet: 1039px;
$tablet: 1200px;
