.videos-banner {
  height: 480px;
  width: 100%;
  background-color: grey;
  color: #fff;
  display: flex;
}
.videos-banner .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.videos-banner .content .text-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}
.videos-banner .content .title {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 14px;
  font-weight: bolder;
}
.videos-banner .content .paragraph {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 0px;
  line-height: 21px;
  text-align: center;
}
.videos-banner .content .image-container {
  width: 500px;
}
.videos-banner .content .image-container img {
  width: 100%;
}
