.videos-banner {
    height: 480px;
    width: 100%;
    background-color: grey;
    color: #fff;
    display: flex;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        @media only screen and (max-width: 600px) {
            width:100%;
        }

        .text-container {
            width: 500px;
            display: flex;
            flex-wrap: wrap; 
            align-content: center;
            // flex-direction: column;
            margin-right: 40px;
            @media only screen and (max-width: 600px) {
                // border:solid red 1px;
                width:auto;
                margin-right: 0px;
            }
 
        }

        .title {
            display: flex;
            flex-wrap: wrap; 
            margin-top: 0px;
            margin-bottom: 14px;
            font-weight: bolder;
            @media only screen and (max-width: 1039px) {
                text-align: center;
            }
        }

        .paragraph {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0px;
            text-align: center;
            @media only screen and (max-width: 600px) {
                margin-right: 20px;
                margin-left: 20px;
            }
        }

        .image-container {
            width: 500px;

            img {
                width: 100%;
                @media only screen and (max-width: 1039px) {
                    display: none;
                }
            }
        }

    }




}