.videos-banner {
    height: 500px;
    
    .content {
        display: flex;

        .text-container{
            width: 500px;
        }

        .image-container {
        width: 500px;

        img{
            width: 100%;
        }
        }

    }




}